/* ------ Colors ------------- */
$mainColor:                 rgb(182, 0, 0);
$secondryColor:             #fcda45;
$pColor:                    red;
$titleColor:                #555;
$bgColor:                   rgb(248, 248, 248);
$lightColor:                #eee;
$darkColor:                 rgb(49, 49, 49);
$grayColor:                 #d3d3d3;

/* ----- Directions ---------- */

$left:                      left;
$right:                     right;
$reverseSiteDirection:      rtl;
$floatLeft:                 $left;
$floatRight:                $right;       


/* ----- Units --------------- */

$radius:                5px;